.Navigation {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.Navigation a {
    text-decoration:none;
    color: darkgrey;
    font-size: 19px;
}

.Navigation a:hover {
    color: red;
}